<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title></title>
    <link href="/mui/css/mui.min.css" rel="stylesheet"/>
    <link href="/mui/css/index.css" rel="stylesheet"/>
    <link href="/mui/iconfonts/iconfont.css" rel="stylesheet"/>
    <script src="/mui/js/mui.min.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body>
<header class="mui-bar mui-bar-transparent">
    <div class="mui-row">
        <div class="mui-col-xs-3 mui-col-sm-3">
            <span class="mui-icon iconfont icon-didian"></span>
            <span class="mui-tab-label">上海</span>
        </div>
        <div class="mui-col-xs-6 mui-col-sm-6">
            <div class="mui-input-row mui-search">
                <input type="search" class="mui-input-clear" placeholder="输入商品名称">
            </div>
        </div>
        <div class="mui-col-xs-3 mui-col-sm-3">
            <span class="mui-icon iconfont icon-zixun"></span>
            <span class="mui-tab-label">咨询</span>
        </div>
    </div>
</header>
<nav class="mui-bar mui-bar-tab">
    <a class="nav mui-active" id="navtab-index" href="{:url('index/index/index')}">
        <span class="mui-icon iconfont icon-shouye"></span>
    </a>
    <a class="nav" id="navtab-wode" href="{:url('index/index/center')}">
        <span class="mui-icon iconfont icon-wode"></span>
    </a>
</nav>
<div class="mui-content">
    <div class="mui-slider">
        <div class="mui-slider-group mui-slider-loop">
            <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img
                    src="/mui/images/banner1/5.jpg"/></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/mui/images/banner1/1.jpg"/></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/mui/images/banner1/2.jpg"/></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/mui/images/banner1/3.jpg"/></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/mui/images/banner1/4.jpg"/></a></div>
            <div class="mui-slider-item"><a href="#"><img src="/mui/images/banner1/5.jpg"/></a></div>
            <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img
                    src="/mui/images/banner1/1.jpg"/></a></div>
        </div>
        <div class="mui-slider-indicator">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator "></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
        </div>
    </div>
    <div class="mui-menu">
        <div class="mui-menu-inner">
            <div class="mui-menu-box">
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/zhongxi.png">
                    </div>
                    <p class="mui-menu-word">中西药品</p>
                </a>
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/man.png">
                    </div>
                    <p class="mui-menu-word">男性</p>
                </a>
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/woman.png">
                    </div>
                    <p class="mui-menu-word">女性</p>
                </a>
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/manbing.png">
                    </div>
                    <p class="mui-menu-word">慢病</p>
                </a>
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/baojian.png">
                    </div>
                    <p class="mui-menu-word">滋补保健</p>
                </a>
            </div>
            <div class="mui-menu-box">
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/weisheng.png">
                    </div>
                    <p class="mui-menu-word">维生素钙</p>
                </a>
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/yinxing.png">
                    </div>
                    <p class="mui-menu-word">隐形眼镜</p>
                </a>
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/qixie.png">
                    </div>
                    <p class="mui-menu-word">医疗器械</p>
                </a>
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/chengren.png">
                    </div>
                    <p class="mui-menu-word">成人用品</p>
                </a>
                <a href="#" class="mui-menu-item">
                    <div class="mui-menu-img">
                        <img src="/mui/images/tablist/jiangtang.png">
                    </div>
                    <p class="mui-menu-word">健康讲堂</p>
                </a>
            </div>
        </div>
    </div>
    <div class="mui-row">
        <div class="mui-col-sm-12 mui-col-xs-12">
            <img src="/mui/images/storebranches.jpg">
        </div>
    </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media">
            <a href="javascript:;">
                <img class="mui-media-object mui-pull-left mui-cancle-img" src="/mui/images/1yaocancle.png">
                <div class="mui-media-body">
                    <p class='mui-ellipsis mui-cancle-p'>能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
                    <p class='mui-ellipsis mui-cancle-p'>能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
                    <p class='mui-ellipsis mui-cancle-p'>能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
                </div>
            </a>
        </li>
    </ul>
    <!--<ul class="mui-table-view">-->
    <!--<li class="mui-table-view-cell">-->
    <!--<a class="mui-navigate-right mui-qiyigou-a"><p class="mui-ellipsis">距结束剩余<i>&nbsp;&nbsp;|&nbsp;&nbsp;</i><span class="mui-1qiqing-time">08 : 02 : 12</span></p></a><span class="mui-badge mui-badge-inverted">更多&nbsp;&nbsp;&nbsp;</span>-->
    <!--</li>-->
    <!--</ul>-->
    <!--商品列表开始-->
    <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-scroll-goods">
        <div class="mui-scroll mui-scroll-scroll">
            {foreach name="data" item="v" empty="$empty"}
            <a class="testa mui-scroll-item" href="{:url('index/index/particulars', ['goods_id' => $v.id])}">
                <div class="mui-card margin-no">
                    <div class="mui-card-content">
                        <img src="{$v.goods_image}" class="mui-goods-img">
                    </div>
                    <!--页脚，放置补充信息或支持的操作-->
                    <div class="mui-goods-footer pad-no">
                        <p class="mui-ellipsis">{$v.goods_name}</p>
                        <p class="price">{$v.goods_group_price}</p>
                    </div>
                </div>
            </a>
            {/foreach}

        </div>
    </div>
    <!--商品列表结束-->
    <script type="text/javascript" charset="utf-8">
        mui.init();
        //获得slider插件对象
        mui('.mui-slider').slider({
            interval: 1000//自动轮播周期，若为0则不自动播放，默认为0；
        });
    </script>

    <script>
        (function () {
            // $.ajax({
            //     type: 'POST',
            //     url: "{:url('index/api/index')}",
            //     dataType: 'json',
            //     success: function (data) {
            //         // console.log(data);
            //     },
            //     error: function () {
            //         console.log("error");
            //     }
            // });
        })();
    </script>


</body>
</html>