<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="/mui/css/mui.min.css" rel="stylesheet"/>
    <link href="/mui/css/style.css" rel="stylesheet"/>
    <link href="/mui/css/particulars.css" rel="stylesheet"/>
    <style>
        /*#s2, #s3 {*/
    /*height: 1160px;*/
    /*margin-top: 2%;*/
    /*background-color: white;*/
/*}*/
    </style>
    <script src="/mui/js/mui.min.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a onclick="page()" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">商品详情</h1>
</header>
<div class="mui-content">
    <!--轮播图-->
    <div class="lunbo">
        <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
            </div>
            <div class="mui-slider-indicator">
            </div>
        </div>
    </div>

    <div class="xqy">
        <div class="xqy-a">
            <h4 class="info">{$data.goods_introduce|mb_substr=0,20}</h4>
            <span style="color:#FF0000;font-size: 13px;" class='info'>￥{$data.goods_group_price}</span>
            <p><span style="text-align: left;">已拼：820</span><span>测试数据</span><span
                    style="text-align: right;">拼团人数：{$data.goods_group}</span></p>
        </div>

        <!--拼团显示-->
        {empty name="user"}
        {else /}
        <div class="scrollDiv" id="s2">
            <div class="offered">直接参与可快速成团</div>
            <div class="offered-underline"></div>
            <ul>
                {foreach name="user" item="v"}
                <li>
                    <a href="{:url('index/api/payment', [ 'group_id' => $v.id , 'goods_id' => $v.goods_id , 'superior_user_id' => $v.user_id])}" class="offered-shaped">
                        <div class="offered-shaped-image">
                            <img class="offered-image" src="/static/image/moren.jpg">
                            <div class="offered-shaped-phone"><span class="">{$v.user_phone}</span></div>
                        </div>
                        <div class="offered-shaped-people">
                            <p>还差1人</p>
                            <p><span id="time">{$v.group_finish_time}</span></p>
                        </div>
                        <div class="offered-shaped-button">
                            <button type="button" class="mui-btn mui-btn-danger mui-btn-outlined">立即参团</button>
                        </div>
                    </a>
                </li>
                {/foreach}
            </ul>
        </div>
        {/empty}

        <div class="xpy-b">
            <p class="xpy-p">商品评价 <span id="add_com" style="float:right;">添加评价</span></p>
            <div id="com_list">
                <div class="xpy-b-a">
                    <div class="xpy-b-a-t">
                        <div class="xpy-b-a-t-l">
                            <img src="img/2.png"/>
                        </div>
                        <div class="xpy-b-a-t-r">
                            <p>东翌学院
                                <img style="width:15px;position: relative;top:2px" src="img/xing1.png"/>
                            </p>
                        </div>
                    </div>
                    <div class="xpy-b-a-b">
                        <h4>混合app开发课程不错,学完之后可以开发自己的app了，好开心呀</h4>
                        <p>2016-11-4</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:50px;"></div>
        <div class="xpy-c" style="position: fixed;">
            <div class="xpy-c-l">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-icon mui-icon-chat"></span>
            </div>
            <div class="xpy-c-r">
                <a href="{:url('index/api/payment', [ 'alone' => '1' , 'single'=>'1' , 'goods_id' => $data.id ])}">
                    <button id="add_car" style="background: #FF9402;">一人拼￥:{$data.goods_price}</button>
                </a>
                <a href="{:url('index/api/payment', [ 'alone' => '1' ,'goods_id' => $data.id ])}">
                    <button id="buy" style="background:#DD2727;">我要开团￥:{$data.goods_group_price}</button>
                </a>
            </div>
        </div>
    </div>

</div>
<input type="hidden" name="id" id="id" value="{$data.id}">

<script type="text/javascript" src="/mui/js/mui.js"></script>

<!--倒计时问题-->
<script>
    // offered-shaped-people
    var offered = document.querySelectorAll("#time");
    for (var i = 0; i < offered.length; i++) {
        console.log(offered[i].innerText);
    }
</script>


<script type="text/javascript">
    (function () {
        var id = $("#id").val();
        $.ajax({
            url: "{:url('index/index/carousel')}",
            data: {'id': id},
            type: "post",
            dataType: "json",
            success: function (data) {
                $('.mui-slider-group').empty();
                $('.mui-slider-indicator').empty();
                var length = data.length;
                if (length == 1) {
                    $('.mui-slider-group').append('<div class="mui-slider-item"><img class="lunbo-img" src="' + data[0] + '" /></div>');
                } else {
                    $('.mui-slider-group').append('<div class="mui-slider-item mui-slider-item-duplicate"><img class="lunbo-img" src="' + data[length - 1] + '" /></div>');
                    $('.mui-slider-indicator').append('<div class="mui-indicator mui-active"></div>');
                    for (var i = 0; i < length; i++) {
                        $('.mui-slider-group').append('<div class="mui-slider-item"><img class="lunbo-img" src="' + data[i] + '" /></div>');
                    }
                    $('.mui-slider-group').append('<div class="mui-slider-item mui-slider-item-duplicate"><img class="lunbo-img" src="' + data[0] + '" /></div>');
                    for (var i = 0; i < length - 1; i++) {
                        $('.mui-slider-indicator').append('<div class="mui-indicator"></div>');
                    }
                }
                var gallery = mui('.mui-slider');
                gallery.slider({
                    interval: 1000 //自动轮播周期，若为0则不自动播放，默认为0；
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    })();

    //返回上一页
    function page() {
        mui.back();
    }
</script>


<script type="text/javascript">
    //滚动插件
    (function ($) {
        $.fn.extend({
            Scroll: function (opt, callback) {
                //参数初始化
                if (!opt) var opt = {};
                var _this = this.eq(0).find("ul:first");
                var lineH = _this.find("li:first").height(), //获取行高
                    line = opt.line ? parseInt(opt.line, 10) : parseInt(this.height() / lineH, 10), //每次滚动的行数，默认为一屏，即父容器高度
                    speed = opt.speed ? parseInt(opt.speed, 10) : 500, //卷动速度，数值越大，速度越慢（毫秒）
                    timer = opt.timer ? parseInt(opt.timer, 10) : 3000; //滚动的时间间隔（毫秒）
                if (line == 0) line = 1;
                var upHeight = 0 - line * lineH;
                //滚动函数
                scrollUp = function () {
                    _this.animate({
                        marginTop: upHeight
                    }, speed, function () {
                        for (i = 1; i <= line; i++) {
                            _this.find("li:first").appendTo(_this);
                        }
                        _this.css({
                            marginTop: 0
                        });
                    });
                }
                //鼠标事件绑定
                _this.hover(function () {
                    clearInterval(timerID);
                }, function () {
                    timerID = setInterval("scrollUp()", timer);
                }).mouseout();
            }
        });
    })(jQuery);

    $(document).ready(function () {
        $("#s2").Scroll({
            line: 2,
            speed: 500,
            timer: 4000
        });
    });
</script>
</body>
</html>
