<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="/mui/css/mui.min.css" rel="stylesheet"/>
    <link href="/mui/css/style.css" rel="stylesheet"/>
    <link href="/mui/css/particulars.css" rel="stylesheet"/>
    <style>
        /*#s2, #s3 {*/
        /*height: 1160px;*/
        /*margin-top: 2%;*/
        /*background-color: white;*/
        /*}*/
    </style>
    <script src="/mui/js/mui.min.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            // $(".demo1").jCarouselLite({
            //     vertical: true,
            //     hoverPause: true,
            //     visible: 2,
            //     auto: 1000,
            //     speed: 1500
            // });
            
            // $(".demo2").jCarouselLite({
            //     vertical: true,
            //     hoverPause: true,
            //     visible: 2,
            //     auto: 1000,
            //     speed: 1000
            // });
        });
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a onclick="page()" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">商品详情</h1>
</header>
<div class="mui-content">
    <!--轮播图-->
    <div class="lunbo">
        <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
            </div>
            <div class="mui-slider-indicator">
            </div>
        </div>
    </div>

    <div class="xqy">
        <div class="xqy-a">
            <h4 class="info">{$data.goods_introduce|mb_substr=0,20}</h4>
            <span style="color:#FF0000;font-size: 13px;" class='info'>￥{$data.goods_group_price}</span>
            <p><span style="text-align: left;">已拼：820</span><span>测试数据</span><span
                    style="text-align: right;">拼团人数：{$data.goods_group}</span></p>
        </div>

        <!--拼团显示-->
        {empty name="user"}

        {else /}
            <div class="scrollDiv" id="s2">
                <div class="offered">直接参与可快速成团</div>
                <div class="offered-underline"></div>
                <div class="demo1">
                <ul>
                    {foreach name="user" item="v"}
                    <li>
                        <a href="{:url('index/api/payment', [ 'group_id' => $v.id , 'goods_id' => $v.goods_id , 'superior_user_id' => $v.user_id])}"
                           class="offered-shaped">
                            <div class="offered-shaped-image">
                                <img class="offered-image" src="/static/image/moren.jpg">
                                <div class="offered-shaped-phone"><span class="">{$v.user_phone}</span></div>
                            </div>
                            <div class="offered-shaped-people">
                                <p>还差{$v.number}人</p>
                                <p><span id="time">{$v.group_finish_time}</span></p>
                            </div>
                            <div class="offered-shaped-button">
                                <button type="button" class="mui-btn mui-btn-danger mui-btn-outlined">立即参团</button>
                            </div>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        {/empty}
        <div class="xpy-b">
            <p class="xpy-p">商品评价 <span id="add_com" style="float:right;">添加评价</span></p>
            <div id="com_list">
                <div class="xpy-b-a">
                    <div class="xpy-b-a-t">
                        <div class="xpy-b-a-t-l">
                            <img src="/static/image/moren.jpg"/>
                        </div>
                        <div class="xpy-b-a-t-r">
                            <p>测试数据
                                <img style="width:15px;position: relative;top:2px" src="/static/image/jia.jpg"/>
                            </p>
                        </div>
                    </div>
                    <div class="xpy-b-a-b">
                        <h4>测试1测试2测试3测试4</h4>
                        <p>2016-11-4</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:50px;"></div>
        <div class="xpy-c" style="position: fixed;">
            <div class="xpy-c-l">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-icon mui-icon-chat"></span>
            </div>
            <div class="xpy-c-r">
                <a href="{:url('index/api/payment', [ 'alone' => '1' , 'single'=>'1' , 'goods_id' => $data.id ])}">
                    <button id="add_car" style="background: #FF9402;">一人拼￥:{$data.goods_price}</button>
                </a>
                <a href="{:url('index/api/payment', [ 'alone' => '1' ,'goods_id' => $data.id ])}">
                    <button id="buy" style="background:#DD2727;">我要开团￥:{$data.goods_group_price}</button>
                </a>
            </div>
        </div>
    </div>

</div>
<input type="hidden" name="id" id="id" value="{$data.id}">

<script type="text/javascript" src="/mui/js/mui.js"></script>

<!--倒计时问题-->
<script>
    // offered-shaped-people
    var offered = document.querySelectorAll("#time");
    for (var i = 0; i < offered.length; i++) {
        console.log(offered[i].innerText);
    }
</script>


<script type="text/javascript">
    (function () {
        var id = $("#id").val();
        $.ajax({
            url: "{:url('index/index/carousel')}",
            data: {'id': id},
            type: "post",
            dataType: "json",
            success: function (data) {
                $('.mui-slider-group').empty();
                $('.mui-slider-indicator').empty();
                var length = data.length;
                if (length == 1) {
                    $('.mui-slider-group').append('<div class="mui-slider-item"><img class="lunbo-img" src="' + data[0] + '" /></div>');
                } else {
                    $('.mui-slider-group').append('<div class="mui-slider-item mui-slider-item-duplicate"><img class="lunbo-img" src="' + data[length - 1] + '" /></div>');
                    $('.mui-slider-indicator').append('<div class="mui-indicator mui-active"></div>');
                    for (var i = 0; i < length; i++) {
                        $('.mui-slider-group').append('<div class="mui-slider-item"><img class="lunbo-img" src="' + data[i] + '" /></div>');
                    }
                    $('.mui-slider-group').append('<div class="mui-slider-item mui-slider-item-duplicate"><img class="lunbo-img" src="' + data[0] + '" /></div>');
                    for (var i = 0; i < length - 1; i++) {
                        $('.mui-slider-indicator').append('<div class="mui-indicator"></div>');
                    }
                }
                var gallery = mui('.mui-slider');
                gallery.slider({
                    interval: 1000 //自动轮播周期，若为0则不自动播放，默认为0；
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    })();

    //返回上一页
    function page() {
        mui.back();
    }
</script>


<script type="text/javascript">


    (function ($) {                                          // Compliant with jquery.noConflict()
        $.fn.jCarouselLite = function (o) {
            o = $.extend({
                btnPrev: null,
                btnNext: null,
                btnGo: null,
                mouseWheel: false,
                auto: null,
                hoverPause: false,

                speed: 200,
                easing: null,

                vertical: false,
                circular: true,
                visible: 3,
                start: 0,
                scroll: 1,

                beforeStart: null,
                afterEnd: null
            }, o || {});

            return this.each(function () {                           // Returns the element collection. Chainable.

                var running = false, animCss = o.vertical ? "top" : "left", sizeCss = o.vertical ? "height" : "width";
                var div = $(this), ul = $("ul", div), tLi = $("li", ul), tl = tLi.size(), v = o.visible;

                if (o.circular) {
                    ul.prepend(tLi.slice(tl - v + 1).clone())
                        .append(tLi.slice(0, o.scroll).clone());
                    o.start += v - 1;
                }

                var li = $("li", ul), itemLength = li.size(), curr = o.start;
                div.css("visibility", "visible");

                li.css({overflow: "hidden", float: o.vertical ? "none" : "left"});
                ul.css({margin: "0", padding: "0", position: "relative", "list-style-type": "none", "z-index": "1"});
                div.css({overflow: "hidden", position: "relative", "z-index": "2", left: "0px"});

                var liSize = o.vertical ? height(li) : width(li);   // Full li size(incl margin)-Used for animation
                var ulSize = liSize * itemLength;                   // size of full ul(total length, not just for the visible items)
                var divSize = liSize * v;                           // size of entire div(total length for just the visible items)

                li.css({width: li.width(), height: li.height()});
                ul.css(sizeCss, ulSize + "px").css(animCss, -(curr * liSize));

                div.css(sizeCss, divSize + "px");                     // Width of the DIV. length of visible images

                if (o.btnPrev) {
                    $(o.btnPrev).click(function () {
                        return go(curr - o.scroll);
                    });
                    if (o.hoverPause) {
                        $(o.btnPrev).hover(function () {
                            stopAuto();
                        }, function () {
                            startAuto();
                        });
                    }
                }


                if (o.btnNext) {
                    $(o.btnNext).click(function () {
                        return go(curr + o.scroll);
                    });
                    if (o.hoverPause) {
                        $(o.btnNext).hover(function () {
                            stopAuto();
                        }, function () {
                            startAuto();
                        });
                    }
                }

                if (o.btnGo)
                    $.each(o.btnGo, function (i, val) {
                        $(val).click(function () {
                            return go(o.circular ? o.visible + i : i);
                        });
                    });

                if (o.mouseWheel && div.mousewheel)
                    div.mousewheel(function (e, d) {
                        return d > 0 ? go(curr - o.scroll) : go(curr + o.scroll);
                    });

                var autoInterval;

                function startAuto() {
                    stopAuto();
                    autoInterval = setInterval(function () {
                        go(curr + o.scroll);
                    }, o.auto + o.speed);
                };

                function stopAuto() {
                    clearInterval(autoInterval);
                };

                if (o.auto) {
                    if (o.hoverPause) {
                        div.hover(function () {
                            stopAuto();
                        }, function () {
                            startAuto();
                        });
                    }
                    startAuto();
                }
                ;

                function vis() {
                    return li.slice(curr).slice(0, v);
                };

                function go(to) {
                    if (!running) {

                        if (o.beforeStart)
                            o.beforeStart.call(this, vis());

                        if (o.circular) {            // If circular we are in first or last, then goto the other end
                            if (to < 0) {           // If before range, then go around
                                ul.css(animCss, -((curr + tl) * liSize) + "px");
                                curr = to + tl;
                            } else if (to > itemLength - v) { // If beyond range, then come around
                                ul.css(animCss, -((curr - tl) * liSize) + "px");
                                curr = to - tl;
                            } else curr = to;
                        } else {                    // If non-circular and to points to first or last, we just return.
                            if (to < 0 || to > itemLength - v) return;
                            else curr = to;
                        }                           // If neither overrides it, the curr will still be "to" and we can proceed.

                        running = true;

                        ul.animate(
                            animCss == "left" ? {left: -(curr * liSize)} : {top: -(curr * liSize)}, o.speed, o.easing,
                            function () {
                                if (o.afterEnd)
                                    o.afterEnd.call(this, vis());
                                running = false;
                            }
                        );
                        // Disable buttons when the carousel reaches the last/first, and enable when not
                        if (!o.circular) {
                            $(o.btnPrev + "," + o.btnNext).removeClass("disabled");
                            $((curr - o.scroll < 0 && o.btnPrev)
                                ||
                                (curr + o.scroll > itemLength - v && o.btnNext)
                                ||
                                []
                            ).addClass("disabled");
                        }

                    }
                    return false;
                };
            });
        };

        function css(el, prop) {
            return parseInt($.css(el[0], prop)) || 0;
        };

        function width(el) {
            return el[0].offsetWidth + css(el, 'marginLeft') + css(el, 'marginRight');
        };

        function height(el) {
            return el[0].offsetHeight + css(el, 'marginTop') + css(el, 'marginBottom');
        };

    })(jQuery);
</script>
</body>
</html>
