<!-- 戏曲/增加/编辑页面 -->
{extend name="base" /}
{block name="body"}
<style>
    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }

    .left {
        margin-left: 5%;
    }

    .time {
        width: 770px;
        height: auto;
        background-color: antiquewhite;
    }
</style>


<div class="layui-card">
    <div class="layui-card-header">戏曲设置</div>
    <div class="layui-card-body">
        <form action="{:url('admin/Play/edit')}" class="layui-form" method="post" enctype="multipart/form-data">


            <input type="text" name="id" value="{$id|default='id为空'}" >
            <div class="layui-form-item maximum">
                <label class="layui-form-label">商品名：</label>
                <div class="layui-input-inline">
                    <input type="text" name="play_name" value="{$all.goods_name|default='商品名字'}" placeholder="商品名字" required="required"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">所要增加商品的名字</div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit="">保存</button>
                    <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}