<!-- 预约/ 景点配置 -->
{extend name="base" /}
{block name="body"}
<style>
	.image img {
		widows: 45px;
		height: 45px;
	}
	.available{
		color: red;
	}
	.examine{
		color: #00B83F;
	}

</style>
<div class="layui-card">
	<div class="layui-card-body">
		<!--<div class="layui-btn-group">-->
			<!--<a href="{:url('admin/Play/add')}" class="layui-btn"><i class="fa fa-plus-circle"></i> 添加戏曲</a>-->
		<!--</div>-->
		<table class="layui-table layui-form">

			<thead>
				<tr>
					<th>ID</th>
					<th>商品id</th>
					<th>商品图片</th>
					<th>用户手机号</th>
					<th>是否拼团购买</th>
					<th>拼团开始时间</th>
					<th>拼团结束时间</th>
					<th>拼团详情</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				{foreach name="all" item="v" empty="$empty"}
				<tr>
					<td>{$v.group_id}</td>
					<td>{$v.goods_id}</td>
					<td>
						<img width="50px" height="50px" src="{$v.goods_image}" alt="{$v.goods_name}" srcset="">
					</td>
					<td>{$v.user_phone}</td>
					<td>{$v.goods_oneself}</td>
					<td>{:date('Y-m-d H:i:s',$v.group_add_time)}</td>
					<td>{$v.group_finish_time}</td>
					<!--判断是否开团-->
					<td>
						{if condition="$v.goods_single == 0"}
						<!--团住id，然后查数据-->
						<a href="{:url('admin/group/dumpling', ['group_follow' => $v.group_id])}" class="examine">查看团</a>
						{else /}
						<p class="available">暂无团</p>
						{/if}
					</td>
					<td>
						<a href="{:url('admin/group/del', ['id' => $v.group_id])}"
							class="layui-btn layui-btn-xs layui-btn-danger ajax-delete"><i class="fa fa-trash-o"></i>
							删除</a>
					</td>
				</tr>
				{/foreach}
			</tbody>

		</table>
	</div>
</div>
{/block}