.public-color{
    background: red;
}
.public-color a,.public-color h1{
    color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active{
    color: red;
}

/*登录*/
.denglu img{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    display: block;
    border-radius: 10px;
}
.btn{
    width: 95%;
    margin: 20px auto;
    display: block;
    border: 0px;
    padding: 10px 0px;
    background: red;
    color: #fff;
    font-size: 14px;
    border-radius: 0px;
}
.denglu p{
    padding: 0px 13px;
}
.denglu p a{
    font-size: 13px;
    color: #666;
}
.denglu-a{
    background:#fff;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
.denglu-a-l{
    width: 20%;
    float: left;
    text-align: center;
    height: 45px;
    line-height: 45px;
    color: #000;
    font-size: 14px;
    border-right: 1px solid #f0f0f0;
}
.denglu-a-r{
    width: 80%;
    float: left;
}
.denglu-a-r input{
    width: 100%;
    border: 0px;
    border-radius: 0px;
    height: 45px;
    font-size: 13px;
    margin: 0px;
}
/*注册*/
.zhuce-btn{
    position: absolute;
    top: 6px;
    right: 10px;
    color: red;
    border:1px solid red;
    font-size: 13px;
}

.down{
    position: absolute;
    top: 12px;
    right: 109px;
    color: red;
    font-size: 13px;
}
/*首页*/
.input input{
    width: 100%;
    height: 30px;
    font-size: 13px;
    color: #666;
    border: 0px;
    border-radius: 25px;
}
.img{
    width: 100%;
    height: 200px;
}
.shouye-a{
    background: #fff;
    overflow: hidden;
}
.shouye-a-l{
    width: 20%;
    text-align: center;
    padding: 20px 0px;
    float: left;
}
.shouye-a-l span{
    font-size: 25px;
}
.t-yi{
    color: red;
}
.t-er{
    color: blue;
}
.t-san{
    color: pink;
}
.t-si{
    color: green;
}
.t-wu{
    color: orange;
}
.t-liu{
    color: deeppink;
}
.t-qi{
    color: salmon;
}
.t-ba{
    color: gold;
}
.t-jiu{
    color: darkcyan;
}
.t-shi{
    color: chartreuse;
}
.shouye-a-l p{
    color: #000;
    padding-top: 6px;
    margin: 0px;
}
.shouye-b{
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #f0f0f0;

}
.shouye-b-l{
    width: 50%;
    padding: 10px 0px 10px 10px;
    position: relative;
    float: left;
    border-right: 1px solid #f0f0f0;
}
.shouye-b-l h4{
    font-weight: 650;
    font-size: 15px;
}
.shouye-b-l p{
    color: #666;
    font-size: 13px;
    margin: 0px;
}
.shouye-b-l img{
    position: absolute;
    top: 12px;
    right: 10px;
    width: 40px;
    height: 40px;
}
.shouye-c{
    background: #fff;
    overflow: hidden;
}
.shouye-c-p{
    padding: 10px 0px;
    text-align: center;
    color: #000;
    font-size: 14px;
    background: #f0f0f0;
    margin: 0px;
}
/*.shouye-c-p span{
	border-bottom: 1px solid red;
	display: inline-block;
	width: 70px;
	position: relative;
	top: -5px;
}*/
.shouye-c-l{
    width: 25%;
    text-align: center;
    padding: 10px 0px;
    float: left;
    border-right: 1px solid #f0f0f0;
}
.shouye-c-l h4{
    font-weight: 650;
    font-size: 15px;
    margin: 0px;
}
.shouye-c-l img{
    width: 100%;
    height: 100px;
}
.shouye-c-l span{
    color: red;
    font-size: 12px;
}
.shouye-c-l span{
    font-size: 11px;
}

.shouye-d{
    background: #fff;
    overflow: hidden;
}
.shouye-d-l{
    width: 33.33%;
    text-align: center;
    float: left;
    border-right: 1px solid #f0f0f0;
}
.shouye-d-l h4{
    font-size: 18px;
    margin-top: 10px;
}
.shouye-d-l p{
    margin: 0px;
    font-size: 13px;
    color: #1FA997;
}
.shouye-d-l  img{
    width: 100%;
    padding: 5px 10px;
    /*height: 100px;*/
}
.shouye-e{
    background: #fff;
    overflow: hidden;
}
.shouye-e-l{
    width: 40%;
    float: left;
    text-align: center;
    border-right: 1px solid #f0f0f0;
    height: 200px;
}
.shouye-e-l h4{
    font-size: 18px;
    margin-top: 10px;
}
.shouye-e-l p{
    color:#1FA997;
    font-size: 13px;
}
.shouye-e-l img{
    width:80%;
    padding: 0px 10px;
}
.shouye-e-r{
    width: 60%;
    float: left;
}
.shouye-e-l-a{
    overflow: auto;
    height: 100px;
    border-bottom: 1px solid #f0f0f0;
}
.shouye-e-l-a-l{
    width: 60%;
    float: left;
    padding: 20px 0px 20px 20px;
}
.shouye-e-l-a-l h4{
    font-size: 18px;
}
.shouye-e-l-a-l p{
    font-size: 13px;
    color: #1FA997;
}
.shouye-e-l-a-r img{
    width: 70px;
    height: 70px;
}
.shouye-e-l-a-r{
    width: 40%;
    float: left;
    text-align: center;
    padding: 10px 0px;
}
.shouye-f{

    overflow: auto;
}
.shouye-f-l{
    width: 50%;
    float: left;
    border-right: 1px solid #f0f0f0;
    margin: 3px 0px;
    background: #fff;
}
.shouye-f-l img{
    width: 100%;
}
.shouye-f-l p{
    padding: 10px  10px 0px 10px;
    color: #696969;
    font-size: 14px;
    margin: 0px;
}
.shouye-f-l span{
    padding: 0px 10px;
    font-size: 12px;
    color:red;
}
/*问答*/
.wd{
    background: #fff;
}
.wd-a{
    padding-left: 60px;
    overflow: hidden;
    position: relative;
}

.wd-a h4{
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0px;
}
.wd-a p{
    margin: 5px 0px;
    font-size: 13px;
    color: #666;
}
.img-img{
    width:32%;
    float: left;
    margin:5px 1.5% 5px 0px;
    border-radius: 5px;
}
.img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
}
.wd-p{
    padding-left: 60px;
    color: #666;
    font-size: 13px;
    margin-top: 10px;
    border-bottom: 1px solid #f0f0f0;
}
/*发表*/
.fb-a button{
    width: 90%;
    display: block;
    margin: 0px auto;
    background: red;
    color: #fff;
    border: 0px;
    padding: 10px 0px;
    font-size: 14px;
}
/*问答详情页*/
.style-img{
    width: 100%;
    padding:0px 10px 0px 0px;
}
/*商品详情页*/
.sp{
    overflow: auto;
    background:#FFD239;
}
.sp-a{
    width: 49.8%;
    background: #fff;
    padding: 0px 10px;
    position: relative;
    float: left;
    margin: 0px 0.4% 2px 0px;
}
.sp-a img{
    width: 100%;
    height: 200px;
}
.sp-a h4{
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
    color: #000000;
}
.sp-a p{
    margin: 0px;
    font-size: 11px;
    color:#666;
}
.home-span{
    position: absolute;
    top: 220px;
    right: 10px;
    background: red;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
}
/*详情页*/
.img-400{
    height: 400px;
}
.xqy{
    display: block;
    margin-top: 6px;
}
.xqy-a{
    padding: 10px;
    background: #fff;
}
.xqy-a h4{
    font-size: 14px;
    font-weight: 600;
    color: #5D5D5D;
}
.xqy-a p{
    margin: 0px;
}
.xqy-a p span{
    display: inline-block;
    width: 33.33%;
    text-align: center;
    font-size: 12px;
    color:#BABABA;
}
.xpy-b{
    margin: 10px 0px;
    background: #fff;
}
.xpy-p{
    padding: 10px;
    font-size: 13px;
    color: #000000;
    margin: 0px;
}
.xpy-b-a{
    border-bottom: 1px solid #f0f0f0;
}
.xpy-b-a-t{
    overflow: hidden;
    height: 40px;
}
.xpy-b-a-b{
    padding: 5px 10px;
}
.xpy-b-a-b h4{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}
.xpy-b-a-b p{
    font-size: 12px;
    color:#AFAFAF;
    margin: 0px;
}
.xpy-b-a-t-l{
    width: 10%;
    float: left;
    text-align: center;
    line-height: 40px;

}
.xpy-b-a-t-l img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 5px;
}
.xpy-b-a-t-r p{
    font-size: 13px;
    color:#A3A3A3;
}
.xpy-b-a-t-r{
    width: 90%;
    float: left;
    line-height: 40px;
}
.xpy-c{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    overflow: hidden;
}
.xpy-c-l{
    width: 31%;
    float: left;
    height: 50px;
    background: #fff;
}
.xpy-c-l span{
    display:inline-block;
    width: 48%;
    text-align: center;
    border-right: 1px solid #f0f0f0;
    height: 50px;
    line-height: 50px;
    color: #6F6F6F;
}
.xpy-c-r{
    width: 69%;
    float: left;
}
.xpy-c-r button{
    display: inline-block;
    border: 0px;
    border-radius: 0px;
    width: 48%;
    height: 50px;
    color: #fff;
    font-size: 14px;
}
/*购物车*/
.gwc-a{
    margin-top: 10px;
}
.gwc-a-b{
    background: #fff;
    overflow: hidden;
    padding: 10px 0px 5px;
}
.gwc-a-b-l{
    width: 72.5px;
    display: inline-block;
    float: left;
    padding-top: 30px;
}
.gwc-a-b-r{
    width: 85%;
    float: left;
    overflow: hidden;
}
.gwc-a-b-r-l{
    width: 25%;
    float: left;
}
.gwc-a-b-r-l img{
    width: 100%;
    height: 100px;
}
.gwc-a-b-r-r{
    width: 75%;
    float: left;
}
.gwc-a-b-r-r h4{
    font-size: 13px;
    font-weight: 600;
    color: #575757;
    margin-top: 10px;
    padding-left: 10px;
}
.gwc-a-b-r-r p{
    font-size: 11px;
    color:#D5D5D5;
    margin: 0px;
    padding-left: 10px;
}
.gwc-a-b-r-r span{
    font-size: 12px;
    color: red;
    padding-left: 10px;
}
.mui-input-group:before{
    height: 0px;
}
.mui-input-group .mui-input-row:after{
    height:0px;
}
.mui-input-group:after{
    height: 0px;
}
.gwc-js{
    position: absolute;
    bottom: 0px;
    background: #fff;
    width: 100%;
    height: 50px;
    border-top: 1px solid #d5d5d5;
}
.gwc-js-l{
    width: 80%;
    float: left;
    text-align: right;
    padding-right: 10px;
}
.gwc-js-l p{
    font-size: 13px;
    color:#575757;
    margin: 0px;
}
.gwc-js-r{
    width: 20%;
    background: #CCCCCC;
    float: left;
    text-align: center;
}
.gwc-js-r a{
    line-height: 53px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
}
/*我的*/
.my-a{
    background: red;
    padding: 10px 0px;
}
.my-a img{
    width: 100px;
    height: 100px;
    display:block;
    margin: 0px auto;
    border-radius: 100%;
}
.my-a p{
    text-align: center;
    padding-top: 10px;
    color: #fff;
    font-size: 13px;
}
.mui-bar-nav {
    top: 0;
    box-shadow: 0 0px 0px #ccc;
}
.my-b{
    background: #fff;
    overflow: hidden;
}
.my-b-l{
    width: 25%;
    text-align: center;
    padding: 10px 0px;
    float: left;
}
.my-b-l span{
    font-size: 15px;
    color: #333;
}
.my-b-l p{
    margin: 0px;
    font-size: 13px;
    color:#C3C3C3;
}
.my-c{
    margin-top:10px ;
    background: #fff;
    overflow: hidden;
}
.my-c-l{
    width: 20%;
    text-align: center;
    padding: 10px 0px;
    float: left;
}
.my-c-l p{
    font-size: 13px;
    color:#333;
    padding-top: 5px;
    margin: 0px;
}
.my-d{
    margin-top: 10px;
    background: #fff;
    overflow: hidden;
}
.my-d-l{
    width: 25%;
    text-align: center;
    padding: 10px 0px;
    float: left;
    border-right: 1px solid #f0f0f0;
}
.my-d-l p{
    font-size: 13px;
    color:#333;
    padding-top: 5px;
    margin: 0px;
}

/*设置*/
.tu li a span{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
}
.tu-yi{
    background: #A55CCE;
}
.tu-er{
    background: #46B155;
}
.tu-san{
    background: #5290CF;
}
.tu-si{
    background: #5151BF;
}
.tu-wu{
    background: #FFA201;
}
.tu-liu{
    background: #FE5002;
}
.sz-b{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #FF5101;
    text-align: center;
    height: 40px;
}
.sz-b a{
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}
/*个人资料*/
.gr-img{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 20px;
    border-radius: 100%;
}
/*修改密码*/
.xg-a {
    width: 90%;
    margin: 20px auto;
    display: block;
    border: 0px;
    background: red;
    color: #fff;
    font-size: 14px;
    padding: 10px 0px;

}
/*收获地址*/
.shdz-a{
    background: #fff;
    padding: 5px;
}
.shdz-a-t{
    border-bottom: 1px solid #f0f0f0;
}
.shdz-a-t h4{
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}
.shdz-a-t p{
    color: #000;
    font-size: 12px;
    margin: 4px 0px;
}
.shdz-a-b button{
    margin: 10px 0px 5px;
    padding: 3px 15px;
    font-size: 13px;
    color: #000;
    border: 1px solid #f0f0f0;
    border-radius: 2px;

}
/*添加新地址*/
.tjxdz input{
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
}
/*关于我们*/
.gywm{
    background: #fff;
    padding: 10px 0px;
}
.gywm-a{
    text-align: center;
}
.gywm-a img{
    width: 80px;
    height: 80px;
    margin: 20px auto  5px;
    border-radius: 5px;
}
.gywm-a h4{
    font-size: 14px;
    font-weight: 600;
}
.gywm-a p{
    font-size: 12px;
    color: #666;
    margin: 0px;
}
/*代付款*/
.dfk-a{
    background: #F5F5F5;
    overflow: hidden;
    padding: 5px 0px 0px 0px;
}
.dfk-a-l{
    width: 20%;
    float: left;
}
.dfk-a-l img{
    padding: 5px 10px;
    width: 100%;
}
.dfk-a-c{
    width: 65%;
    float: left;
}
.dfk-a-c h4{
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}
.dfk-a-c p{
    margin: 0px;
    color: #666;
    font-size: 12px;
}
.dfk-a-r{
    width: 15%;
    float: left;
}
.dfk-a-r h4{
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
}
.dfk-a-r p{
    font-size: 12px;
    margin: 0px;
    color: #666;
    line-height: 15px;
}
.dfk-b{
    background: #fff;
    margin-bottom: 10px;
}
.dfk-b-t p{
    margin: 0px;
    padding: 5px 10px;
    font-size: 13px;
    color: #000;
    text-align: right;
    border-bottom: 1px solid #f0f0f0;
}
.dfk-b-b{
    padding: 5px 10px;
    overflow: hidden;
}
.dfk-b-b button{
    padding:5px 15px;
    border: 1px solid #f0f0f0;
    display: block;
    float: right;
    font-size: 13px;
}
